body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-size: small;
}

.filter-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  height: 40%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.House-found {
  height: 60%;
  background-color: #ff6600;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group h2 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #ff6600;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
}

.test {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  font-size: small;
  border: 2px solid #abc;
}
.test label {
  padding: 3px;
}
.test label:hover {
  transition: background-color 0.5s ease;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5371ad;
  color: white;
}

.filter-options button,
.filter-options label {
  margin: 5px;
  padding: 5px 15px;
  border: 2px solid #abc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-options button:hover,
.filter-options label:hover {
  background-color: #ff6600;
  color: white;
}

.filter-options label input {
  margin-right: 5px;
}
